*{
  margin:0;
  box-sizing: border-box;
  color:$text-primary-color;
}
li{
  &:hover{
    color:blue;
  }
  list-style-type: none;
}
a{
  text-decoration: none;
}
ul{
  padding-inline-start:0;
}
.container{
  @include container;
}
